
.mynavcolor{
    background-color: rgba(30, 28, 28, 0.96);
}

.dropdowncolor {
    background-color: rgba(30, 28, 28, 0.96);
}


.active{
    border-bottom: 1px solid #f7f8f5;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #504e4e;
}

.pagecolor {
    background-color: rgba(133, 135, 136, 0.99);
}

.breaking {
    background-color: rgba(106, 108, 108, 0.99);
    margin-bottom: 0px;
}

.socialmeidachannels {
    background-color: rgba(30, 28, 28, 0.96);
}

.socialmeidachannelsitemcolor{

    color: #d9dbde;
}


.copyright{

    background-color: rgba(133, 135, 136, 0.99);
}
.centeredimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 400px;
}
.navbar-toggler-iconstyle{
    color: #e3dede;
    font-size:28px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 75%;
    min-height: 75%;
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.containercontact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}